<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"

          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>


-- list --
<div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
     role="alert">
    [[${message}]]
    <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div >
    <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Titre</th>

            <th scope="col">Catégorie</th>
            <th scope="col">ISBN</th>
            <th scope="col">Disponibilite</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="livre : ${livres}">
            <th scope="row">[[${livre.id}]]</th>
            <td>[[${livre.Titre}]]</td>
            <td>[[${livre.Catégorie}]]</td>
            <td>[[${livre.ISBN}]]</td>
            <td>
                <a th:if="${livre.Disponibilite == true}" class="fa-regular fa-square-check"></a>

                <a th:if="${livre.published == false}" class="fa-regular fa-square icon-dark"></a>

            </td>

        </tr>
        </tbody>
    </table>
</div>


</body>

</html>